body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Cabeçalho estilizado */
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
    margin: 0 8px 0;
}
P {
    color:
        #ccc;
    margin: 0 0 12px 0;
}

iframe {
    max-width: 100%;
    display: block;
}